
html, body{
    min-height: 100%;
}

body, h1, table {
    margin: 0;
    padding: 0;
}

#editdatatitle {
    min-width: 100%;
    text-align: center;
    background-color: #00FFFF;
    color:rgb(0, 0, 0);
    border: solid 2px rgb(25, 0, 255);
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    z-index: 1;
}



body {
    font-family: 'Helvetica', arial, sans-serif;
    background-color: #3D4241;
    font-size: 15px;
    background-image: linear-gradient(0deg, rgb(25, 0, 255) 0%, rgb(226, 6, 255) 100%);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    text-align: center;
    margin: 0;
    padding: 0;
}


form {
    min-width: 80%;
    margin: 20px;
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

textarea {
    width: 90%;
    height: 10%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}

#editButton {
    padding: 10px 20px;
    background-color:  rgb(104, 255, 98);
    border: solid 2px  rgb(25, 0, 255);
    color: #000000;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

#editButton:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: solid 2px rgb(104, 255, 98);
}

#cancelButton {
    padding: 10px 20px;
    background-color:  rgb(255, 94, 94);
    border: solid 2px  rgb(25, 0, 255);
    color: #000000;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    text-decoration: none;
}

#cancelButton:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: solid 2px rgb(255, 37, 37);
}
