

#openModal {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color:  rgb(5, 151, 0);
    border: solid 2px #ccc;
    color: #000000;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

/* Style for the search button on hover */
#openModal:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: solid 2px rgb(5, 151, 0);
}